*{
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  }
#header{
  padding: 0%;
  width: 100%;
  height: 120px;
  border:none;
  color:rgba(248, 248, 250, 0.978);
  background-color: rgb(26, 26, 168);
  padding-top: 20px;
  border-radius: 20px;
}
#header:hover{
  box-shadow: 10px 10px 20px rgb(26, 26, 168);
}
#side1{
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  height: 550px;
  gap: 10px;
}
#s1{
  border: none;
  background-color: rgb(26, 26, 168);
  width: 30%;
  padding-left: 100px;
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  color: azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 5px 5px white;
}
#s1:hover{
  box-shadow: 10px 10px 20px rgb(26, 26, 168);
}
#s2{
  border: none;
  color:black;
  width: 60%;
  border-radius: 20px;
  background-color: rgb(26, 26, 168);
  box-shadow: 5px 5px white;
  display: flex;
  align-items: center;
  justify-items: center;
}
#s2:hover{
  box-shadow: 10px 10px 20px rgb(26, 26, 168);
}
input[type=text]{
  width: 70%;
  border-radius: 10px;
  height: 40px;
  border: none;
  padding-left: 20px;
}
#button{
  gap: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(26, 26, 168);
  color: white;
}
#btn{
  background-color: #fa9212;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
#btn:hover{
  background-color: chartreuse;
}
h3{
  padding-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: white;
}
input[type=date]{
  width:20%;
}
th{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid white;
  width:330px;
  background-color: aliceblue;
}
td{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid white;
  padding: 7px;
  background-color: aliceblue;
}
table{
  padding-left: 70px;
  font-size:medium;
}
