<div id="header">
  <img src="https://www.atchayamtrust.com/frontend/images/webimages/favicon.png" style="position: absolute; padding-left: 450px; width: 90px;" >
  <h1 style="text-align: center; padding-top: 15px;">ATCHAYAM TRUST</h1>
  <h3 style="text-align: center;">Creating a Beggar Free India </h3>
</div>
<br>
<div id="side1">

  <form #myForm=""ngForm">

  <div id="s1" class="form-group">
    <h3 style="padding-left: 70px;"><u>RESCUE FORM</u></h3><br>
      Client Id<br>
      <input type="text" placeholder="1001"
      class="form-control"
      name="volId"
      #volId="ngModel" ngModel
      required
      pattern="[]"
      />
      <br><br>
      Client Name<br>
      <input type="text" placeholder="Enter the Name">
      <br><br>
      Rescued Place<br>
      <input type="text" placeholder="Enter the Place">
      <br><br>
      Date<br>
      <input type="date">
      <br><br><br>
        <button type="submit" id="btn" style="font-size: medium;">Edit Client</button>&nbsp;&nbsp;
        <button type="submit" id="btn" style="font-size: medium;">Delete</button>&nbsp;&nbsp;
        <button type="submit" id="btn" style="font-size: medium;">Save</button>&nbsp;&nbsp;
      </form>
    </div>
  <div id="s2">
    <table>
      <tr><th style="width: 65px;">C-ID</th><th>Client Name</th><th>Place</th></tr>
      <tr><td>1</td><td>Kabiyashwanth</td><td>Gobi</td></tr>
      <tr><td>2</td><td>Keerthi</td><td>Salem</td></tr>
      <tr><td>3</td><td>Balaji</td><td>Salem</td></tr>
      <tr><td>4</td><td>Ayesha</td><td>Erode</td></tr>
      <tr><td>5</td><td>Gowtham</td><td>Otk</td></tr>
    </table>
  </div>

  </div>


